
.front-bg{
    background-color: antiquewhite;
    width:100vw;
    height:100vh;
    
}
.front-box-parent{
    width:55vw;
    height:100vh;
}

.year-pixel{
    width:36vw;
    height:96vh;
    font-size:0.75vw;
    text-align:center;
    background-color:#f1f2f6;

}
.year-table{
    border:0.1vw solid black;
    background-color:#dfe4ea;
}
.cell-size{
    width:1.25vw !important;
    height: 1.25vw !important;
    border:0.1vw solid black;
    
}
.cell-invalid{
    background-color:black !important;
}
.year-legend{
    width:10vw;
    height:16vw;
}

.year-legend-row{
    width:10vw;
    height:1.5vw;
    font-size: 1vw;
    text-align:right;
    margin-top:0.5vw;
    
}

.year-legend-color{
    width:1.5vw;
    height:1.5vw;
    margin-right:2vw;

}
.year-legend-text{
    width:5vw;
    height:1.5vw;
}
.front-parent{
    width:25vw;
    height:96vh;
    border: 0.125vh double white;
    font-family: 'VT323', monospace;
}

.front-title-text{
    font-family: 'VT323', monospace;
    font-size:3vw;
}

.front-year-text{
    font-size: 2vw;
    width:10vw;
    height:3vw;
}
.front-year-legends{
    width:10vw;
    height:14vw;


}
.front-other-footer{
    width:20vw;
    height:4vh;
    font-size:1vw;
}
.front-other-box{
    width:20vw;
    height:20vh;
    border:solid 0.1vw black;

}
.nav-bar-bg{
    background-color:transparent;
  }
  
.year-today-border{
    border:0.2vw solid #26de81;
}

.front-welcome{

}